{% extends 'base.html.twig' %}

{% block title %}Questionnaire{% endblock %}

  {% block body %}
  <div class="container pt-4">

      {% if surveys|length > 0 %}
      
        {% for survey in surveys %}
            <div class="section_display d-flex justify-content-between  align-items-center" >
             <div>
              <p>{{ survey.name }} </p>
             </div>
              <div>
              <a href="{{ path( 'delete_survey_page',{'id': survey.id})}}" ><i class="fa fa-trash-o" style="font-size:24px;color:red;margin-left:1em;"></i></a>
              <a href="{{ path( 'edit_survey_page',{'id': survey.id})}}" ><i class="fa fa-plus" style="font-size:24px;color:green;margin-left:1em;"></i> </a>
              <a href="{{ path( 'show_survey_page',{'id': survey.id})}}" ><i class="fa fa-eye" style="font-size:24px;color:grey;margin-left:1em;"></i></a>
              </div>
            </div>
           
        {% endfor %}
      {% endif %}
   
      <a href="{{ path('create_survey_page')}}" id="btn_add_survey" class="btn btn-info btn_add_survey">+</a>
      
  </div>
  {% endblock %}