{% extends 'base.html.twig' %}

{% block title %}Questionnaire{% endblock %}

  {% block body %}
  <div class="container pt-4">
     
      {% if surveys|length > 0 %}
        {% for survey in surveys %}
            <p>{{ survey.id }} | {{ survey.name }} 
              <a href="{{ path( 'delete_survey_page',{'id': survey.id})}}" class="btn btn-danger">Supprimer le Questionnaire</a>
              <a href="{{ path( 'edit_survey_page',{'id': survey.id})}}" class="btn btn-warning">Ajouter une question</a>
              <a href="{{ path( 'show_survey_page',{'id': survey.id})}}" class="btn btn-success">Visualiser le Questionnaire</a>
              <a href="{{ path( 'front_survey_page',{'id': survey.id})}}" class="btn btn-light border border-dark">front</a>
            </p>
           
        {% endfor %}
      {% endif %}

      <a href="{{ path('create_survey_page')}}" class="btn btn-primary"> Créer un nouveau questionnaire</a>
  </div>
  {% endblock %}